:root {
  font-family: Hack NF, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 24pt;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@keyframes talk {
  from {
    /* pushes the sun down past the viewport */
    transform: translateY(0px);
  }
  to {
    /* returns the sun to its default position */
    transform: translateY(-14px);
  }
}

#pngtuber img {
  filter: saturate(40%);
  filter: brightness(0.6);
  position: absolute;
  bottom: -48px;
  right: 0;
  width: 25%;
  /* transition: transform 0.1s; */
}

#pngtuber .active {
  filter: initial;
  animation: 0.11s ease-in 0s infinite alternate talk;
  /* transform: translateY(-20px); */
}

p {
  margin: 0;
}

canvas#wheel {
  position: absolute;
  left: 140px;
  top: 100px;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

body > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

body > div#xkcd {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 80px;
  align-items: flex-end;
}

#xkcd > img {
  margin-right: 80px;
  object-fit: contain;
  object-position: 100% 0;
  max-width: 800px;
  max-height: 400px;
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade-out {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes slide_in_follow {
  0% {
    transform: scale(200%) translate(65px, -800px);
  }
  100% {
    transform: scale(200%) translate(65px, 40px);
  }
}

@keyframes slide_out_follow {
  0% {
    margin-top: 0px;
    opacity: 100%;
  }
  100% {
    margin-top: -110px;
    opacity: 0%;
  }
}
div.follow.go_away {
  animation: slide_out_follow 0.5s forwards;
}

#raid {
  justify-content: center;
  align-items: center;
}

.raid {
  animation: fade-in 0.5s forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: -80px;
}

div.raid img {
  width: 400px;
  height: 400px;
}

div.raid p {
  text-align: center;
  width: 640px;
  background-color: black;
  border-radius: 24px;
  padding: 14px;
  font-size: 40px;
}

div.follow {
  transform: scale(200%) translate(65px, 40px);
  animation: slide_in_follow 1s forwards;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 6px 12px 4px;
  gap: 10px;

  width: 201px;
  height: 110px;

  background: linear-gradient(
    180deg,
    #d0e4fb 0%,
    #cee3f9 12.5%,
    #d1e6f9 25%,
    #d5e9fa 36.46%,
    #ddecfb 50%,
    #e3f1fd 63.54%,
    #e9f6fe 76.56%,
    #e9f7ff 88.54%,
    #e4f4ff 100%
  );
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9), inset 1px 1px 0px #ffffff,
    inset -1px -1px 0px rgba(97, 211, 244, 0.8);
  border-radius: 6px;
}

div.follow .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 100%;
  height: 80px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

div.follow .content .options {
  width: 100%;
  height: 16px;

  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #0066cc;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

div.follow .user {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 100%;
  height: 56px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

div.follow .user section {
  width: 56px;
  height: 56px;
  margin-bottom: -5px;
  position: relative;
}

div.follow .user section img:first-child {
  height: 56px;
  width: 56px;
}
div.follow .user section img:last-child {
  position: absolute;
  top: 5px;
  left: 6px;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
}

div.follow .user .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 111px;
  height: 32px;
  flex: none;
  order: 1;
  flex-grow: 1;
}

div.follow .user .text p {
  width: 95px;
  height: 16px;

  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #383838;
  flex: none;
  order: 1;
  flex-grow: 0;
  text-align: left;
}

div.follow .user .text p:first-child {
  font-weight: 600;
}

div.follow header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 18px;

  height: 16px;
  width: 100%;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

div.follow header span {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 5px;

  width: 153px;
  height: 16px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

div.follow header span p {
  width: 134px;
  height: 16px;

  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #383838;
  flex: none;
  order: 1;
  flex-grow: 0;
}

div.follow header span img {
  width: 14px;
  height: 14px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

div.cheer {
  font-size: 32pt;
  font-weight: bold;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

p.subscribe {
  margin-top: 260px;
  background-color: black;
  font-size: 38pt;
  text-align: center;
  animation: subscribeBanner 8s forwards;
  opacity: 0%;
}

@keyframes subscribeBanner {
  40% {
    opacity: 0%;
  }
  45% {
    opacity: 100%;
  }
  90% {
    transform: translateY(0);
    opacity: 100%;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0%;
  }
}

div.subscribe {
  width: 64px;
  height: 64px;
  position: absolute;
  left: calc(960px - 64px);
  top: calc(540px - 64px);
  border: solid 32px red;
  border-radius: 8000px;
  background-size: contain;
  -webkit-mask-image: url("./fish/char.png");
  -webkit-mask-mode: alpha;
  mask-image: url("./fish/char.png");
  mask-mode: alpha;
  animation: catchSubFish 1.5s forwards linear;
  animation-delay: 1s;
  transform: translate(0px, 1000px) rotate(180deg) scale(6) scaleX(-1);
}

div.subscribe.swim-away {
  animation: swimAway 2s forwards linear;
}

@keyframes swimAway {
  0% {
    transform: translate(0px, 0px) rotate(0deg) scale(6) scaleX(-1);
  }
  20% {
    transform: translate(calc(1600px * 0.2 * 0.2), 0px) rotate(10deg) scale(6)
      scaleX(-1);
  }
  40% {
    transform: translate(calc(1600px * 0.4 * 0.4), 0px) rotate(-10deg) scale(6)
      scaleX(-1);
  }
  60% {
    transform: translate(calc(1600px * 0.6 * 0.6), 0px) rotate(10deg) scale(6)
      scaleX(-1);
  }
  80% {
    transform: translate(calc(1600px * 0.8 * 0.8), 0px) rotate(-10deg) scale(6)
      scaleX(-1);
  }
  100% {
    transform: translate(1600px, 0px) rotate(10deg) scale(6) scaleX(-1);
  }
}

@keyframes catchSubFish {
  0% {
    transform: translate(0px, 1000px) rotate(-180deg) scale(6) scaleX(-1);
  }
  20% {
    transform: translate(0px, 800px) rotate(0deg) scale(6) scaleX(-1);
  }
  40% {
    transform: translate(0px, 600px) rotate(180deg) scale(6) scaleX(-1);
  }
  60% {
    transform: translate(0px, 400px) rotate(360deg) scale(6) scaleX(-1);
  }
  80% {
    transform: translate(0px, 200px) rotate(540deg) scale(6) scaleX(-1);
  }
  100% {
    transform: translate(0px, 0px) rotate(720deg) scale(6) scaleX(-1);
  }
}
.fisher {
  width: 800px;
  height: 800px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(1000px, 0px);
}

.reeling {
  animation: fisherCatch 1.5s forwards;
}
.unreeling {
  animation: fisherGoAway 1s forwards;
}

@keyframes fisherGoAway {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: translate(1000px, 0px);
  }
}
@keyframes fisherCatch {
  0% {
    transform: translate(1000px, 0px);
  }
  50% {
    transform: translate(0, 0px);
  }
  60% {
    transform: translate(0, 0px);
  }
  80% {
    transform: translate(-80px, 100px) rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
div.gift {
  background-color: purple;
}

@keyframes fishJump {
  0% {
    transform: translate(200px, 250px) rotate(90deg);
  }
  50% {
    transform: translate(0, -300px);
  }
  100% {
    transform: translate(-200px, 250px) rotate(-90deg);
  }
}
#pond {
  align-items: center;
  justify-content: flex-end;
}
#pond img {
  animation: fishJump 1.4s ease-in-out 0s 1 forwards;
  object-fit: cover;
  width: 250px;
  height: 250px;
}
#cheer {
  align-items: center;
  margin-top: 360px;
}

#spotify {
  justify-content: flex-end;
}
#spotify .toast {
  margin: 40px;
  background-color: #181818;
  width: 500px;
  border-radius: 30px;
  height: 120px;
  transition: transform 1s;
  color: white;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  gap: 24px;
}
#spotify .bars {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 21px;
  height: 26px;
}
#spotify .hide {
  transform: translateY(300px);
}
@keyframes bounce {
  10% {
    transform: scaleY(0.3); /* start by scaling to 30% */
  }

  30% {
    transform: scaleY(1); /* scale up to 100% */
  }

  60% {
    transform: scaleY(0.5); /* scale down to 50% */
  }

  80% {
    transform: scaleY(0.75); /* scale up to 75% */
  }

  100% {
    transform: scaleY(0.6); /* scale down to 60% */
  }
}
#spotify .bars span {
  width: 5px;
  height: 100%;
  background-color: #1db954;
  border-radius: 3px;
  content: "";
  transform-origin: bottom;
  animation: bounce 2.2s ease infinite alternate;
}

#spotify .bars span:nth-of-type(2) {
  animation-delay: -2.2s; /* Start at the end of animation */
}

#spotify .bars span:nth-of-type(3) {
  animation-delay: -3.7s; /* Start mid-way of return of animation */
}

#spotify .song {
  font-size: 16pt;
}
#spotify .artist {
  color: #ccc;
  font-size: 12pt;
}
#spotify .album {
  border-radius: 10px;
  object-fit: contain;
  max-height: 80%;
  width: auto;
}
#goal {
  align-items: flex-end;
}
.follow-goal-container {
  width: 100vw;
  height: 120px;
  text-align: center;
  transition: transform 1s, opacity 1s;
  color: black;
}

.follow-goal-container .progress-bar {
  background-color: #446088;
  height: 59px;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
  line-height: 29px;
  font-size: 16pt;
}
.follow-goal-container .progress-bar p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1000;
  color: black;
}
.follow-goal-container .progress-bar-inner {
  background-color: white;
  height: calc(100% - 4px);
  width: 0%;
  margin: 2px;
  border-radius: 12px;
  text-align: center;
  transition: width 1s;
}
#follow-goal .hide {
  transform: translateY(-31px);
  opacity: 40%;
}

.goal-container {
  margin: 40px;
  background-color: #7aa2e7;
  width: 500px;
  border-radius: 30px;
  border: 4px solid black;
  height: 120px;
  transition: transform 1s;
  color: black;
  padding: 12px 20px;
}
.goal-container h1 {
  margin: 0;
  font-size: 32pt;
  font-weight: normal;
}
.goal-container .progress-bar {
  background-color: #446088;
  height: 50px;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
}
.goal-container .progress-bar p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1000;
  color: black;
}
.goal-container .progress-bar-inner {
  background-color: white;
  height: calc(100% - 4px);
  width: 0%;
  margin: 2px;
  border-radius: 12px;
  text-align: center;
  transition: width 1s;
}
#goal .hide {
  transform: translateX(600px);
}

#chat-bottom {
  --from-bottom: 260px;
  --from-right: 600px;
  height: var(--from-bottom);
  padding-left: 40px;
  margin-top: calc(99vh - var(--from-bottom));
  width: calc(100vw - var(--from-right));
  justify-content: flex-end;
  align-items: flex-end;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    transparent 0px,
    black 32px,
    black calc(100%)
  );
  -webkit-mask-size: 100% 100%;
  -webkit-mask-position: 0 0, 100% 0;
  -webkit-mask-repeat: no-repeat, no-repeat;
}
#chat-side {
  gap: 0.5em;
  --from-bottom: 460px;
  --from-right: 80px;
  padding-right: var(--from-right);
  width: calc(100% - var(--from-right));
  padding-bottom: var(--from-bottom);
  height: calc(100% - var(--from-bottom));
  justify-content: flex-end;
  align-items: flex-end;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    transparent 27px,
    black 63px,
    black calc(100%)
  );
  -webkit-mask-size: 100% 100%;
  -webkit-mask-position: 0 0, 100% 0;
  -webkit-mask-repeat: no-repeat, no-repeat;
}
.chat-msg-bottom {
  flex-direction: row;
  display: flex;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 0.8;
  font-size: 18pt;
  width: 100%;
  height: 31px;
  color: white;
}
.chat-msg-side {
  flex-shrink: 0;
  opacity: 0.8;
  overflow: hidden;
  font-size: 14pt;
  padding: 6px 10px;
  width: 360px;
  min-height: 57px;
  max-height: 138px;
  color: white;
  background-color: #24304d;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  text-transform: lowercase;
  box-shadow: 0px 0px 42px 10px #00000063;
}
.chat-msg-bottom .username {
  font-weight: bold;
}
.chat-msg-bottom .msg:before {
  content: ":\00a0";
}
.chat-msg-side .username {
  font-weight: bold;
}

.chat-msg-side img {
  object-fit: cover;
}

#shoutout {
  justify-content: center;
  align-items: center;
}

.shoutout {
  filter: drop-shadow(0 0 0.75rem #111);
}

.shoutout iframe {
  border: 3px solid #e0e0e0;
  border-radius: 24px;
}

.shoutout h1 {
  align-self: center;
  text-align: center;
  background-color: black;
  border-radius: 24px;
}

.fade-out {
  opacity: 0;
  transition: opacity 4s;
}

.fade-out-500ms {
  animation: fade-out 0.5s forwards;
}

.slide-up {
  transition: all 1s ease-out, opacity 0.5s ease-out;
}
.slide-up-trigger {
  min-height: 0px;
  max-height: 0px;
  opacity: 0;
  height: 0px;
}

#arena {
  overflow: hidden;
  position: absolute;
  top: 28px;
  right: 0px;
  left: unset;
  width: 500px;
  height: 280px;
}

#arena .fighter {
  display: none;
  justify-content: space-between;
  width: 100%;
  animation: fighterSlide 1s forwards ease-out;
  transition: top 1s, flex-direction 1s;
}

#arena .fighter .fishBowl {
  position: relative;
}
#arena .fighter .fishBowl .winStreak {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 16pt;
}

#arena .fighter .fishBowl .hitMarker {
  position: absolute;
  top: 50px;
  left: 0;
  font-size: 16pt;
  font-weight: bold;
  color: red;
  animation: marker 1s forwards;
  z-index: 100;
}
#arena .fighter:nth-of-type(2) .fishBowl .hitMarker {
  transform: scaleX(-1);
}
@keyframes marker {
  0% {
    opacity: 100%;
    top: 50px;
  }

  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    top: 0px;
  }
}

@keyframes fighterSlide {
  0% {
    transform: translateX(-600px);
  }
  100% {
    transform: translateX(0px);
  }
}

#arena .fighter img {
  width: 170px;
  height: 170px;
}

#arena .fighter .card {
  border: solid 2px #ffffff80;
  border-radius: 10px;
  font-size: 16pt;
  padding: 6px;
  height: 60px;
  width: 40%;
  margin: 25px 20px;
}

#arena .healthOuter {
  background-color: red;
  width: 100%;
  height: 12px;
  margin-top: 6px;
  border-radius: 4px;
}

#arena .healthInner {
  width: 100%;
  height: 100%;
  transition: width 1s;
  background-color: green;
}

#arena .fighter:first-of-type {
  display: flex;
  position: absolute;
  flex-direction: row-reverse;
  right: 0px;
}

#arena .fighter:first-of-type .card {
  border-bottom: 0px;
  border-right: 0px;
}

#arena .fighter.attacking img {
  animation: battle 0.8s forwards;
}

#arena .fighter.critical img {
  animation: critical 0.8s forwards;
}

#arena .fighter.damage img {
  animation: damage 0.8s forwards;
}

#arena .fighter:nth-of-type(2) .fishBowl {
  transform: scaleX(-1);
}

#arena .fighter.fainting img {
  animation: fainting 0.8s forwards ease-in;
}

@keyframes fainting {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(400px) rotate(7deg);
  }
  5% {
    transform: translateY(-20px);
  }
}

@keyframes damage {
  0% {
    transform: translateX(0px);
    filter: brightness(1);
  }
  100% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(20px);
    filter: brightness(10);
  }
  40% {
    filter: brightness(1);
  }
}
@keyframes critical {
  0%,
  100% {
    transform: translateX(0px);
  }
  20%,
  40% {
    transform: translateX(-50px);
  }
  10%,
  30%,
  50% {
    transform: translateX(-80px);
  }
}

@keyframes battle {
  0%,
  100% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(-80px);
  }
}

#arena .fighter:nth-of-type(2) {
  display: flex;
  position: absolute;
  left: 0px;
  top: 100px;
}

#arena .fighter:nth-of-type(2) .card {
  align-self: flex-end;
  border-top: 0px;
  border-left: 0px;
}
